version: '3.8'

services:
  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
     
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
      - caddy-config:/config

  website:
    build: .
    container_name: mijn-website
    restart: unless-stopped

volumes:
  caddy-data:
  caddy-config:
