version: '3.8'

services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./html:/usr/share/nginx/html
      - certbot-webroot:/var/www/html
      - certbot-certs:/etc/letsencrypt
    depends_on:
      - website

  website:
    build: .
    container_name: mijn-website
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-webroot:/var/www/html
      - certbot-certs:/etc/letsencrypt
    command: certonly --webroot --webroot-path=/var/www/html --email s157201@ap.be --agree-tos --no-eff-email -d deelopdrachtcloudsystemen.duckdns.org

volumes:
  certbot-webroot:
  certbot-certs: